.nav-tabs > li > a {
	border-radius:0px 8px 0 0;
	background-color: #919700;
	color: #fff;
	padding: 10px 11px
	
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background-color: #D6DF24;
}

.nav-tabs > li > a:hover {
  background-color: #D6DF24;
  color: #000;
}

li.active a, li.active a:hover {
	background-color: #D6DF24;
}

.tab-content {
	border:1px solid #D6DF24;
	margin-top: -1px;
	line-height: 30px;
}

.separator {
	border-top: 1px solid #000;
	width: 100%;
	margin: 20px 0 30px 0;
}

.nav-tabs.nav-justified > li > a {
	border-radius:0px 8px 0 0;
	margin-right: 1px;
}

.tab-content li {
	float: none;
	display: block;
}

.innerLeft {
	margin-bottom: 30px;
}

.gridview {
	margin-top: 190px;

}
.gridview > ul > li {
	float:left;
	width: 330px;
	min-height:380px;
	display: inline;
	border: 1px solid #ccc;
	padding: 0px 10px;
	margin: 10px;
	border-bottom:4px solid #A9A9A9;
}

.gridview > ul > li > ul > li {
	list-style:none;
	font-size: 12px;
	color: #000;
}

.thumbnailContainer {
	height: 430px;
}

.grid-company-name {
	background-color: #d7df21;
	margin-top: 15px;
	margin-left: -10px;
	margin-bottom: 10px;
	font-size: 16px;
	padding: 5px;
	color: #000;
	width: 80%;
	word-wrap: break-word;
	
}

.widget-gallery {
	/*margin: 20px 24px;*/
	padding: 0px 18px;
	word-wrap: break-word;
}

.widget-gallery-title {
	color: #979C1E;
	
}

#gal_front_from_0 > div {
	text-align: left;
}

.thumbnailContainer .button {
background: #D7D7D7;
border: none;
border-bottom: 5px solid #8b9100;
border-radius: 0px;
display: inline-block;
padding: 13px 42px 12px;
text-decoration: none;
text-transform: none;
font-size: 12px;
font-family: 'Arial';
color: #4a4d00;
float: right;
margin: 20px 0px 0px 0px;
width: 80%;
word-wrap: break-word;
}

.searchlist{
	font-size: 13px;
}

.more {
	color:#8b9100;
	margin-top:3px;
	cursor: pointer;
}

.grid_description{
	margin-top: 10px;
	display: -webkit-box;
	width: 300px;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;

}

div.paging {
	clear: both;
	width:100%;
	text-align:right;
	
}

div.paging2{
	clear:both;
	width:100%;
	text-align:right;
}

ul.pagination {
	margin-bottom: 10px;
}
ul.pagination li {
display: inline;
padding: 1px 5px;
border: 1px solid #ebebeb;
margin: 0 3px;
color: #767676;
font-size: 14px;
}

ul.pagination > li.disabled:hover {
	background-color: #fff;
}

ul.pagination > li:hover {
	background-color: #ebebeb;
}

ul.pagination > li.active {
	background-color: #ebebeb;
}

ul.pagination > li.disabled {
	color: #ccc;
}